@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Oswald', sans-serif;
}
.header-section{
    display: flex;
    justify-content: space-between;
    background-color: #dfe6e933;
    height: 600px;
    overflow: hidden;
}
h1{
    font-size: 55px;
    font-weight: 700;
    color:  #34495e;
}
.bg-color{
    color: #e84118;
}
.first-half{
    width: 40%;
    margin: 5%;
    padding: 2%;
}
.first-half img{
    width: 100%;
}

.first-half p{
    color: #7f8c8d;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.anchor-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(50deg,#6a89cc,#0a3d62);
    padding: 18px 40px;
    border-radius: 25px;
}
.section-two{
    margin-top: 60px;
    display: flex;
    background-image: url(images/Frame58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}
h2{
    color: #6ab04c;
    font-size: 35px;
    margin-bottom: 40px;
}
.second-half{
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
}
.second-half h3{
    color: #40407a;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}
.second-half p{
    color: #84817a;
    margin-bottom: 60px;
}
.food-recipe{
    display: flex;
    justify-content: space-between;
    background-color: rgba(223, 228, 234, .2);
}
.third-half{
    width: 23%;
    border-radius: 25px;
    border: 15px solid #ffffff;
    box-shadow: 30px 20px 40px #dcdde1;
}
.third-half img{
    width: 100%;
    border-radius: 15px;
}
.third-half:nth-child(1){
    margin-left: 7%;
}
.third-half:nth-child(3){
    margin-right: 7%;
}
.follower-option{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 200px;
    border-radius: 20px;
    border: 10px solid white;
    box-shadow: 5px 5px 60px #dcdde1; 
    margin: 7%;
}
.follower-option div{
    margin:0 auto;
     margin-top: 40px;
}
.food-images{
     overflow: hidden;
     margin-bottom: 40px;
     margin-left: 100px;    
}
.food-images h3{
    color: #16a085;
   font-size: 25px;
   text-align: center;
   margin-bottom: 40px;
}
.food-picture{
    width: 32%;
    float: left;
    margin-bottom: 20px;
}
.food-picture img{
    width: 90%;
    border-radius: 20px;
}
.footer-area{
  background-color: #0B0D17;
  height: 200px;
}
.footer-area h3{
    color: #718093;
   font-size: 25px;
   padding: 50px;
   text-align: center;
}
.footer-area p{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}


